.controlsContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f5ff;
    padding: 6px;
    gap: 10px;
    border-bottom: 1px solid #b5b5b5;
}

.toggleButton {
    flex-grow: 1;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    padding: 4px;
}