.header {
    border-bottom: 1px solid #b5b5b5;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.headerText {
    font-family: "Geist Mono", sans-serif;
    font-size: 24px;
}

.plus {
    font-size: 18px;
}

.newButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    font-family: "Geist Mono", sans-serif;
    font-size: 14px;
    background-color: #9810fa;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 2px 6px;
    min-width: 50px;
    transition: background-color 0.1s ease-in-out;
    /*box-shadow: 1px 1px 1px black;*/ /*TODO: сделать объёмные тени + на StatCard*/
}

.newButton:hover {
    background-color: #9f42e6;
}

.dialogOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
    background-color: #fcfcfc;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent:focus {
    outline: none;
}

.dialogTitle {
    margin: 0;
    font-size: 20px;
}

.dialogDesc {
    margin: 4px 0 16px;
    font-size: 16px;
    color: #959595;
}

.closeButton {
    all: unset;
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #959595;
}

.habitForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 16px;
}

.duelForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 16px;
}

.label {
    font-size: 14px;
}

.input {
    margin-bottom: 6px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 6px;
}

.habitSelect {
    margin-bottom: 6px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 6px;
}

.submitButton {
    background-color: #dcfce7;
    color: #008236;
    border: 1px solid #00a63e;
    border-radius: 10px;
    padding: 3px;
}

.invitationLink {
    font-size: 14px;
    margin-top: 10px;
    resize: none;
}