.header {
    border-bottom: 1px solid #b5b5b5;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.headerText {
    font-family: "Geist Mono", sans-serif;
    font-size: 24px;
}

.plus {
    font-size: 18px;
}

.newButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    font-family: "Geist Mono", sans-serif;
    font-size: 14px;
    background-color: #9810fa;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 2px 6px;
    min-width: 50px;
    transition: background-color 0.1s ease-in-out;
    /*box-shadow: 1px 1px 1px black;*/ /*TODO: сделать объёмные тени + на StatCard*/
}

.newButton:hover {
    background-color: #9f42e6;
}