.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logCard {
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    padding: 14px;
    border-radius: 14px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.photo {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.logContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    font-size: 13px;
    color: #888;
    margin-bottom: 6px;
}

.text {
    font-size: 15px;
    color: #333;
}


.controlsContainer {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 14px 0;
}

.toggleButton {
    padding: 8px 18px;
    border-radius: 14px;
    border: 1px solid #e8ccff;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    color: #8a4ab9;
}

.active {
    background: #f2ddff;
    font-weight: 600;
    border-color: #dcb3ff;
}