html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

body {
    background-color: #f8f5ff;
    height: 100%;
    margin: 0;
    font-family: "Geist Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img {
    width: 100%;
}

button {
    font: inherit;
}

.loaderCircle {
    display: flex;
    justify-content: center;
    height: 70%;
    align-items: center;
}

.loaderIcon {
    width: 50px;
    height: 50px;
    animation-name: LoaderRotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes LoaderRotation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
