html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f8f5ff;
    height: 100%;
    margin: 0;
    font-family: "Geist Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img {
    width: 100%;
}

button {
    font: inherit;
}
