.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    border-radius: 16px;
}

.header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__icon {
    width: 20px;
    height: 20px;
}

.header__text {
    font-size: 16px;
    font-weight: normal;
}

.statCount {
    padding-left: 4px;
}