.cardContainer {
    padding: 16px;
    border-radius: 16px;
    margin: 16px 12px;
    box-shadow:
            1px 1px 2px #b1b1b1,
            -1px -1px 2px #b1b1b1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: normal;
    font-size: 16px;
}

.category {
    font-size: 10px;
    font-weight: normal;
    padding: 3px 6px;
    border: 1px solid #b5b5b5;
    border-radius: 12px;
    text-align: center;
}

.leadingStatus {
    font-size: 12px;
    text-align: center;
    color: #9810fa;
    background-color: #9810fa26;
    padding: 4px;
    border-radius: 12px;
    margin-top: 8px;
    border: 1px solid #9810fa80;
}

.victoryStatus {
    font-size: 12px;
    text-align: center;
    color: #008236;
    background-color: #dcfce7;
    padding: 4px;
    border-radius: 12px;
    margin-top: 8px;
    border: 1px solid #00a63e;
}

.tieStatus {
    font-size: 12px;
    text-align: center;
    color: #0b48fb;
    background-color: #0b48fb26;
    padding: 4px;
    border-radius: 12px;
    margin-top: 8px;
    border: 1px solid #0b48fb80;
}

.behindStatus {
    font-size: 12px;
    text-align: center;
    color: #f54a00;
    background-color: #f54a0026;
    padding: 4px;
    border-radius: 12px;
    margin-top: 8px;
    border: 1px solid #f54a0080;
}

.participantContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-top: 12px;
}

.userAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: #59168b;
    background-color: #9810fa26;
    border: 1px solid #9810fa80;
    border-radius: 50%;
}

.oppAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: #535353;
    background-color: #f6f3f4;
    border: 1px solid #959595;
    border-radius: 50%;
}

.name {
    font-size: 14px;
}

.leadIcon {
    width: 16px;
    height: 16px;
    color: #f0b100;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.userStreakStat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: #f54a0026;
    color: #7e2a0c;
    padding: 2px 4px;
    border-radius: 10px;
}

.oppStreakStat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #8a8a8a26;
    color: #3e3e3e;
    padding: 2px 4px;
    border-radius: 10px;
}

.userStreakIcon {
    color: #f54a00;
    width: 12px;
    height: 12px;
}

.oppStreakIcon {
    color: #8a8a8a;
    width: 12px;
    height: 12px;
}

.progressRoot {
    margin-top: 6px;
    position: relative;
    overflow: hidden;
    background: #e4e4e4;
    border-radius: 99999px;
    width: 100%;
    height: 8px;

    transform: translateZ(0);
}

.progressIndicator {
    background-color: #030213;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 14px;
    padding-top: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 14px;
    border-top: 1px solid #bdbdbd;
}

.viewLogs {
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: #f54a0026;
    color: #dc4300;
    border: 1px solid #f54a0080;
    border-radius: 14px;
}

.makeLog {
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: #9810fa26;
    color: #9810fa;
    border: 1px solid #9810fa80;
    border-radius: 14px;
}