.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-height: 8vh;
    border-bottom: 1px solid #bdbdbd;
    background-color: white;
}

.backLink {
    position: absolute;
    top: 16px;
    left: 10px;
    background: transparent;
    border: none;
}

.headerText {
    margin-top: 16px;
    font-size: 18px;
    font-weight: normal;
}

.habitName {
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}