.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-height: 8vh;
    border-bottom: 1px solid #bdbdbd;
    background-color: white;
}

.backLink {
    position: absolute;
    top: 16px;
    left: 10px;
    background: transparent;
    border: none;
}

.headerText {
    margin-top: 16px;
    font-size: 18px;
    font-weight: normal;
}

.habitName {
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80%;
}

.mainContent__header {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #707070;
}

.addButton {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    padding: 10px;
    width: 80%;
}

.iconContainer {
    background-color: #9810fa26;
    color: #9810fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.buttonDesc {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.add {
    font-size: 14px;
}

.addAddition {
    font-size: 12px;
    color: #959595;
}

.hasSaved {
    flex-grow: 1;
    text-align: end;
}

.dialogOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
    background-color: #fcfcfc;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent:focus {
    outline: none;
}

.dialogTitle {
    margin: 0;
    font-size: 20px;
}

.dialogDesc {
    margin: 4px 0 16px;
    font-size: 16px;
    color: #959595;
}

.symbolsCount {
    text-align: end;
    font-size: 14px;
}

.textArea {
    resize: none;
    padding: 4px;
    width: 100%;
    min-height: 80px;
    border: 1px solid #959595;
    border-radius: 6px;
}

.textArea:focus {
    outline: none;
}

.fileInput {
    position: relative;
    display: inline-block;
}

.fileInputButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.fileInputText {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}

.fileInput input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.bottomContainer {
    margin-top: 6px;
    display: flex;
    justify-content: end;
}

.saveButton {
    padding: 4px;
    background-color: #dcfce7;
    color: #008236;
    border: 1px solid #00a63e;
    border-radius: 16px;
    font-size: 14px;
}

.closeButton {
    all: unset;
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #959595;
}

.submitButton {
    background-color: #9810fa26;
    color: #9810fa;
    border: 1px solid #9810fa80;
    border-radius: 16px;
    font-size: 16px;
}

.submitButton:hover {
    cursor: pointer;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
